<div class="">
    <div class="panel-title" style="padding: 10px">
        Hello, @System.Web.HttpContext.Current.User.Identity.Name
    </div>
    <h1>
        Favorite groups
    </h1>
    <div class="list-group-horizontal">
        <button class="list-group-item-action" style="width: 22rem; padding: 5px; margin: 5px">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title h2">Group 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </button>
        <button class="list-group-item-action" style="width: 22rem; padding: 5px; margin: 5px">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title h2">Group 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </button>
    </div>
    <h1>
        All groups
    </h1>
    <ul class="list-group">
    </ul>
</div>