
@model List<GeniusWebApp.Models.Group>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.single != null && ViewBag.single == true)
{
    <h1>Grupul @Model.First().Name</h1>

    <h2>Descriere:</h2>
    <br />

    <h3>@Model.First().Description</h3>
    if (this.User.IsInRole("Admin"))
    {
        <a style="background-color: red; color: white">Sterge</a>
    }
}

else
{
    <h1>Grupuri:</h1>
    foreach (var group in Model)
    {
        <div class="table-bordered" style="padding-left: 10px">
            <a href="Group/@group.Name.ToLower()">
                <h2>@group.Name</h2>
                <p>@group.Description</p>
            </a>
        </div>
        if (this.User.IsInRole("Admin"))
        {
            <a style="background-color: red; color: white" href="Group/Delete/@group.GroupId">Sterge</a>
        }


    }
}

