@using GeniusWebApp.Models
@{
    ViewBag.Title = "ShowAll";
    List<Tuple<Group,bool>> groups = Model;
}

<div class="panel-title" style="padding: 20px">Toate grupurile:</div>
@if(groups.Count != 0)
{
    <div class="list-group" style="width: 50vw">
        @foreach(var group in groups)
        {
            <div class="list-group-item">
                @if(!group.Item2)
                {
                    <p>@group.Item1.Name</p>
                    @Html.ActionLink(
                        linkText: "Join",
                        actionName: "JoinGroup",
                        controllerName: "UserProfile",
                        routeValues: new {groupId = group.Item1.GroupId},
                        htmlAttributes: new { }
                    )
                }
                else
                {
                    <p class="disabled">@group.Item1.Name </p>
                    <p>You are already part of this group</p>
                }
                <br />
            </div>
        }
    </div>
}

