@{
    ViewBag.Title = "About this website";
}
<h2>@ViewBag.Title</h2>

<p>Genius social platform is a website designed by someone who wants to take over Facebook and Twitter and won't stop until he reaches his goal.</p>
