@{
    ViewBag.Title = "Contact information";
}
<h2>@ViewBag.Title</h2>

<address>
    Morii 102<br />
    Suceava<br />
    <abbr title="Phone">P:</abbr>
    +40752411523
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:blahoviciandrei1@gmail.com">blahoviciandrei1@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:blahoviciandrei1@gmail.com">blahoviciandrei1@gmail.com</a>
</address>