@using GeniusWebApp.Models
@{
    ViewBag.Title = "IndexAdmin";
}

<h2>IndexAdmin</h2>

@Html.Partial("SearchBar")

<br />
<a class="btn btn-primary" style="background-color: yellow; color:black" href="/Home/ShowGroups">Show groups</a>
<a class="btn btn-primary" style="background-color:darkorange; color:black" href="/Home/ShowUsers">Show users</a>