@model List<GeniusWebApp.Models.Group>
@{
    ViewBag.Title = "Home Page";
}

<div style="text-align: center">
    <h1 style="margin-left:5vw;">Cauta o persoana:</h1>
    @Html.Partial("SearchBar")
</div>
    
@if (ViewBag.adminMessages != null)
{
    if (ViewBag.adminMessages.Count != 0)
    {
    <h3>Admin messages</h3>
        foreach (var adminMessage in ViewBag.adminMessages)
        {
    <div class="buttons">
        <div class="panel panel-default" style="width:10%; margin-bottom:5px">
            <p style="padding-left: 10px">@adminMessage.message</p>

        </div>
        <form method="post" action="/AdminMessages/Delete/@adminMessage.AdminMessageId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="glyphicon glyphicon-trash btn btn-danger" style="margin-top:5px" type="submit"></button>
        </form>
    </div>
        }
    }
}


@if (User.Identity.IsAuthenticated)
{
    Html.RenderPartial("_IndexLoggedIn");

}