@model GeniusWebApp.Models.Group
@{
    ViewBag.Title = "NewGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Add a new group </h2>

<div class="buttons">
    <a class="btn btn-primary" style="background-color:yellow; color: purple" href="/Group/ShowAll"> Join a group</a>
    <a class="btn btn-primary" style="background-color:orange; color: purple" href="/Group/New">Create a group</a>
</div>