@model GeniusWebApp.Models.Group
@{
    ViewBag.Title = "NewGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adauga un grup nou: </h2>

@Html.ActionLink(linkText: "Înscrie-te într-un grup", actionName: "ShowAll", controllerName: "Group")
<br />
<br />
@Html.ActionLink(linkText: "Creează un grup nou", actionName: "New", controllerName: "Group")