body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.buttons * {
    display: inline-block;
}

a.noStyling {
    color: black;
}

.dl-horizontal dt, .dl-horizontal dd {
    padding-top: 8px;
}

.dl-horizontal {
    border: 2px solid red;
    background-color: #FB9A4B;
}

body {
    background-color: #F9E3DC;
}

.panel-default {
    background-color: #FFF199;
    border-color: red;
    border-width: 2px;
    border-radius: 5px;
}

.panel-default > .panel-heading {
    background-color: #FFE11F;
}

.panel-default > .panel-footer {
    background-color: #FFEC70;
}