@using GeniusWebApp.Models
@model GeniusUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    GeniusUser user = Model;
}

<h1>
    @(user.FirstName+" "+user.LastName)
    <br />
</h1>

