
@{
    ViewBag.Title = "Edit";
}

<form method="post" action="/Comment/Edit/@ViewBag.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Text:</label>
    <input name="Text" />
    <label>Image</label>
    <input name="Image" />
    <button type="submit">Submit</button>
</form>