@using GeniusWebApp.Models
@model Comment
@{
    ViewBag.Title = "New";
}

<br />
<form method="post" action="/Comment/New">
    @{
        TempData["postId"] = ViewBag.postId.ToString();
    }
    <label>Content:</label>
    <input name="Text" />

    @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
    <br />
    <button type="Submit">Submit</button>
</form>