
@{
    ViewBag.Title = "New";
}

<form method="post" action="/Comment/New">
    <input type="hidden" name="_postId" value="@ViewBag.postId"/>
    <label>Content:</label>
    <input name="Text"/>
    <button type="Submit">Submit</button>
</form>