
@{
    ViewBag.Title = "Edit";
}

<form method="post" action="/UserPost/Edit/@ViewBag.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Title:</label>
    <input name="Title" />
    <label>Content:</label>
    <input name="Content" />
    <button type="submit">Submit</button>
</form>

