
@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form method="post" action="New">
    <label>Title:</label>
    <input name="Title"/>
    <label>Content:</label>
    <input name="Content"/>
    <button type="submit">Submit</button>
</form>