<div class="">
    <div class="panel-title" style="padding: 10px">
        Hello, @System.Web.HttpContext.Current.User.Identity.Name
    </div>
    <h1>
        Grupuri favorite:
    </h1>
    <ul>
        @foreach (GeniusWebApp.Models.Group group in Model)
        {
        <li class="list-group-item-action">
            <button  style="min-height: 130px; padding: 5px; margin: 5px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title h2">@group.Name</h5>
                        <p class="card-text">@group.Description</p>-->

                    </div>
                </div>
            </button>
        </li>
        }
        <li class="list-group-item-action">
            <a class="list-group-item-action" style=" min-height: 130px; padding: 5px; margin: 5px" href="/Home/NewGroup">
                <div class="card" style="">
                    <div class="card-body">
                        <h5 class="card-title h2">Adauga un grup +</h5>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <h1>
        All groups
    </h1>
    <ul class="list-group">
    </ul>
</div>
