
@{
    ViewBag.Title = "SearchBar";
}

<form method="get" action="UserProfile/FindUserByName">

    <input placeholder="First name" name="firstName"/>
    <input placeholder="Last name" name="lastName"/>
    <button type="submit">Search</button>

</form>

