
@{
    ViewBag.Title = "SearchBar";
}

<form method="get" action="UserProfile/FindUserByName">

    <input placeholder="Prenume" name="firstName"/>
    <input placeholder="Nume" name="lastName"/>
    <button type="submit">Caută</button>

</form>

